<%- include("partials/header") %>
<h2 class="text-center">Sign Up!</h2>

<%- include("partials/errors") %>

<form action="/sign-up" method="POST" class="d-grid grid-2-col gap-3">
    <label for="email">Email: </label>
    <input type="email" name="email" id="email" value="<%= locals.user ? user.email : ''%>" required>

    <label for="firstname">First Name:</label>
    <input type="text" name="firstname" id="firstname" value="<%= locals.user ? user.firstname : '' %>" required>
    
    <label for="lastname">Last Name:</label>
    <input type="text" name="lastname" id="lastname" value="<%= locals.user ? user.lastname : '' %>" required>

    <label for="password">Password:</label>
    <input type="Password" name="password" id="password" required>
    
    <label for="confirmPassword">Confirm Password:</label>
    <input type="Password" name="confirmPassword" id="confirmPassword" required>

    <button type="submit" class="btn">Sign Up</button>
</form>
<%- include("partials/footer") %>